$a: #333;
$nav: #ffbaba;
$shopee: #ee4d2d;
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  background-color: $shopee;
  .header {
    padding: 10px;
    color: #e5e5e5;
    border-bottom: #e5e5e5;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    a {
      text-decoration: none;
      padding: 15px 25px;
      transition: 0.3s ease;
      color: #fff;
    }
    a:hover {
      color: #ff891b;
    }
  }
  .hamberger {
    font-size: 1.5rem;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    color: #333;
    transition: 0.3s ease;
    color: #e5e5e5;
  }
}
@media screen and (max-width: 900px) {
  container {
    width: 100%;
  }
  .nav {
    background-color: #ee4d2d;
    border-bottom: none;
    ul {
      display: none;
    }
    .navOpen {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      position: absolute;
      top: 50px;
      width: 100%;
      li {
        .liTop {
          border-top: 1px solid #e5e5e5;
        }
        border-bottom: 1px solid #e5e5e5;
        width: 100%;
        text-align: center;
        a {
          color: #333;
          display: block;
          font-size: 18px;
        }
      }
    }
    display: block;
    .header {
      display: flex;
      justify-content: space-between;
    }
    .hamberger {
      display: flex;
    }
    .hamberger:hover {
      color: #ff891b;
    }
  }
}
