$a: #333;
$hover: #f39c12;
$shopee: #1c2120;
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  background-color: $shopee;
  .header {
    padding: 10px;
    color: #fff;
    border-bottom: #e5e5e5;
    overflow: hidden;
    position: relative;
    .AppLogo {
      height: 30vmin;
      pointer-events: none;
    }
  }
  .ul_bar {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    a {
      text-decoration: none;
      padding: 15px 25px;
      transition: 0.1s ease;
      color: #fff;
    }
    a:hover {
      color: $hover;
    }
  }
  .hamberger {
    display: none;
    transition: 0.3s ease;
    color: #fff;
  }
  .hamberger:hover {
    color: $hover;
  }
}
@media screen and (max-width: 900px) {
  container {
    width: 100%;
  }
  .nav {
    background-color: $shopee;
    border-bottom: none;
    .ul_bar {
      display: block;
      position: absolute;
      top: 60px;
      right: 0;
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }
    .navOpen {
      max-height: 300px;
    }

    li {
      border-bottom: 1px solid #fff;
      a {
        background-color: #5a5c5c;
        color: #fff;
        display: block;
        font-size: 18px;
        transition: 0.2s;
        z-index: 10;
        width: 300px;
        text-align: right;
      }
      a:hover {
        color: $hover;
      }
    }
    li:hover {
      border-bottom: 1px solid $hover;
    }

    .hamberger {
      padding-right: 20px;
      font-size: 24px;
      cursor: pointer;
      display: flex;
    }
  }
}
