.contentProduct {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 15px 0px;
  gap: 10px;
  .search {
    background-color: #f1f1f1;
  }
}
@media (max-width: 1650px) {
  .contentProduct {
    grid-template-columns: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1265px) {
  .contentProduct {
    grid-template-columns: none;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .contentProduct {
    grid-template-columns: none;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .container {
    margin: 10px;
 
  }
}
.BackProduct {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.container {
  margin: 0px 50px 0px 50px;
  max-width: 1200px;
  padding: 10px 0px 10px 0px;
  box-sizing: border-box;
  height: 100vh; /* ให้ความสูงเท่ากับความสูงของหน้าจอทั้งหมด */
  display: flex;
  flex-direction: column; /* จัดเรียงเป็นคอลัมน์ */
}

@media (max-width: 800px) {
  .container {
    margin: 0px 0px 0px 0px;
  }
}
body {
  background-color: #fff;
}
